<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <td>id</td>
        <td>name</td>
        <td>pass</td>
        <td>create_time</td>
        <td>update_time</td>
    </tr>
    </thead>
    <tbody>
    {% for i in infoList %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.pass }}</td>
            <td>{{ i.create_time }}</td>
            <td>{{ i.update_time }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>
</body>
</html>